<header>
    <span> Заметки </span>
    <nav>
        <ul class="menu">
            <div class="categories">
                <li {% if section == 'dashboard' %} class="selected" {% endif %}>
                    <a href="{% url 'dashboard' %}"> Моя стена </a>
                </li>

                <li {% if section == 'images' %} class="selected" {% endif %}>
                    <a href="#">Картинки</a>
                </li>

                <li {% if section == 'people' %} class="selected" {% endif %}>
                    <a href="#">Люди</a>
                </li>
            </div>

            <div class="auth">
                {% if request.user.is_authenticated%}
                <p {% if section == 'profile' %} class='selected' {% endif %}><a href="{% url 'profile' %}">{{ request.user.username|default:'Пользователь'}}</a></p>
                    <li >
                        <a href="{% url 'logout' %}">Выйти</a>
                    </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Войти</a>
                </li>
                {% endif %}
            </div>

        </ul>
    </nav>
</header>