{% extends "account/base.html" %}
{% block title %}Bookmark an image{% endblock %}

{% block content %}

{% include 'account/includes/header_main.html' with section='images' %}

{% load thumbnail %}
{% for image in images %}
<div class="image">
    <a href="#">
        {% thumbnail image.image 300x300 crop="smart" as im %}
        <a href="#">
            <img src="{{ im.url }}">
        </a>
    </a>
    <div class="info">
        <a href="#" class="title">
            {{ image.title }}
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}