{% extends "account/base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<h1>Войдите</h1>
{% if form.errors %}
<p>
    Имя пользователя и пароль не совпадают.
    Пожалуйста, попробуйте еще раз.
</p>
{% else %}
<p>Пожалуйста, используйте следующую форму для входа:</p>
{% endif %}
<div class="login-form">
    <form action="{% url 'authentication' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <p><input type="submit" value="Войти"></p>
    </form>
</div>
{% endblock %}