{% extends "account/base.html" %}
{% load custom_tags %}

{% block title %} Вход {% endblock %}

{% block content %}
{% include 'account/includes/header_registration_block.html' %}
<p>Заполните поля для входа в свою учётную запись. Если вы еще не зарегестрировались, можете это сделать по
    <a href="{% url 'register' %}">ссылке</a>.</p>
<form action="{% url 'login' %}" method="post">
    {{form.as_p}}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{next}}"/>
    <p><input type="submit" value="Войти"/></p>
</form>
<a href="{% url 'password_reset' %}">Забыли пароль?</a>


{% endblock %}