{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'account/css/main_account.css' %}" rel="stylesheet">
    {% block styles_link %} {% endblock %}
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close"></a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% block content %}
{% endblock %}
<script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script>
    const csrftoken = Cookies.get('csrftoken');
    document.addEventListener('DOMContentLoaded', (event) => {
        // DOM загружена
        {% block domready %}
        {% endblock %} })
</script>
</body>
</html>