{% extends 'account/base.html' %}
{% block title %}Пользователь{% endblock %}
{% block content %}

{% include 'account/includes/header_main.html' with section='profile' %}
{% if status %}
<h2>Изменения были успешно сохранены на сайте</h2>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
     <p><input type="submit" value="Сохранить изменения"></p>
</form>

    <a href="{% url 'password_change' %}">Сменить пароль</a>


{% endblock %}